* {
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.sub-title {
  font-size: 24px;
  font-weight: bold;
}

.basic-info .detail,
.contact-info .detail {
  overflow: hidden;
}

.basic-info .detail .detail-item,
.contact-info .detail .detail-item {
  float: left;
  margin-right: 15px;
}

.detail-item-title {
  font-size: 16px;
  font-weight: bold;
}
