* {
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

.title {
  width: 200px;
  height: 1120px;
  float: left;
  margin: 0;
  padding-top: 50px;
  color: #fff;
  font-size: 42px;
  background: #449df0;
  text-align: center;
}

.main {
  margin-left: 220px;
  padding-top: 20px;
}

.basic-info .sub-title{
  margin-top: 0;
}

.sub-title{
  font-size: 36px;
}

.detail-item-title{
  font-size: 16px;
  font-weight: bold;
}

.basic-info .detail, .contact-info .detail {
  overflow: hidden;
}

.basic-info .detail .detail-item, .contact-info .detail .detail-item{
  float: left;
  margin-right: 15px;
}
