@charset "utf-8";

*{
    padding: 0;    
}

.item-title{
    font-weight: bold;
    margin-right: 10px;
}

.content{
    margin-top: -22px;
}

.title h1{
    height: 70px;
    background-color: #666666;
    padding-top: 30px;
    padding-left: 20px;    
}

.sub-content{
    display: flex;    
    height: 200px;    
    border: 1px solid #f3f3f3;
    white-space: nowrap;
}

.sub-title{
    width: 200px;
    height: 140px;
    background-color: #e0e0e0;
    text-align: center;
    padding-top: 60px;
}

.ability-description .item-title, .education-experience .item-title, 
.project-experience .item-title{
    float: left;
    margin-left: 20px;
}

.basic-info-content .detail-info, .contact-info-content .detail-info{
    margin-right: 20px;
}

.contact-info-content, .basic-info-content{
    margin-top: 16px;
    margin-left: 20px;
}
