* {
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  margin: 0;
}

.title {
  height: 100px;
  margin: 0;
  background: #aaa;
  padding-left: 50px;
}

.sub-title {
  width: 200px;
  height: 200px;
  line-height: 200px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background: #ddd;

}

.sub-title{
  margin: 0;
}

.detail-item-title {
  font-size: 16px;
  font-weight: bold;
}

.main>div{
  border-bottom: 1px solid #ccc;
  display: flex;
  width: 800px;
}

.basic-info .detail, .contact-info .detail {
  display: flex;
}
.basic-info .detail .detail-item, .contact-info .detail .detail-item{
  margin-left: 20px;
}

.education .detail .detail-item,.ability .detail .detail-item,.subject .detail .detail-item{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
