@charset "utf-8";

*{
    padding: 0;
    
}

.item-title{
    font-weight: bold;
    margin-right: 10px;
}

.basic-info-content, .contact-info-content{
    display: flex;
    width: 550px;
    flex-flow: row;
    justify-content: space-between;
}
